@font-face {
    font-family: "Buenard";
    src: url(https://fonts.google.com/share?selection.family=Buenard:wght@400;700);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Buenard";
    src: url(https://fonts.google.com/share?selection.family=Buenard:wght@400;700);
    font-weight: 700;
    font-style: normal;
}
